
#principal{
    text-align: center;
}
#formAñadirCliente, #formBajaCliente, #formModificarCliente, #formClienteModificado, #formAgregarAbogado, #formBajaAbogado,
#formModificarSueldo,#formMulta,#formFactura,#formAgregarReclamacion,#formSeleccionaReclamacion, #formActualizaReclamacion,#info,
#formHistorialCliente,#tbTodos,#tbMiembros,#tbNoMiembros,#formHistorialAbogado,#tbAbogados,#tbMedia,#clienteM,#frmHistorialFactura,#tbReclamacion{
    display: none;
}
body{
    font-family: 'Quicksand', sans-serif;
    overflow-x:hidden;
}

.col-md-12 {
        width: 100%;
        margin-top: 2%;
    }

.h1, h1 {

     font-size: 80px;
     margin-top: 2%;
     margin-left: 1%;
     font-family: 'Marck Script', cursive;

 }
.h2, h2 {
    float: right;
    font-size: 25px;
    margin-top: -1%;
    font-family: 'Marck Script', cursive;
    margin-right: 4%;
}
form {
    display: block;
    margin-top: 4em;
}


#tbTodos,#tbMiembros,#tbNoMiembros{

    margin-top: 5%;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ffffff;
    background-color: black;

}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: white;
    background-color: #080808;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: white;
    background-color: black;
}


.col-md-12 {
    width: 100%;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}
.container-fluid {
    padding-right: 0%;
    padding-left: 0%;
    margin-right: auto;
    margin-left: auto;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid black;
}
.jumbotron {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    color: white;
    background-color: black;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -28px;
}